#main{
  border: 1px solid lime;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-1{
  background-color: green;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  
}

.button-2{
  background-color: red;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.button-1:hover{
  background-color: yellow;
  color: black;
  transition: 1s;
  
}